{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div
        class="home-panel gap-10 bg-gray-300 p-2 h-[96vh] w-[92vw] ms-[4vw] mt-[2vh] rounded-xl flex flex-col justify-start items-center"
        data-controller="leave"
    >


        <div class="flex justify-start items-center gap-2 w-full">

            <a
                href="{{ path('app_home') }}"
                class="h-[42px] w-[42px] p-none text-lg button bg-rose-700 text-white flex items-center justify-center gap-2"
                data-action="click->leave#go"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFFFFF" viewBox="0 0 256 256"><path d="M240,208H224V136l2.34,2.34A8,8,0,0,0,237.66,127L139.31,28.68a16,16,0,0,0-22.62,0L18.34,127a8,8,0,0,0,11.32,11.31L32,136v72H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM48,120l80-80,80,80v88H160V152a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8v56H48Zm96,88H112V160h32Z"></path></svg>
            </a>

            <a
                href="{{ path('app_cashbox') }}"
                class="h-[42px] w-[42px] p-none text-lg button bg-black text-white flex items-center justify-center gap-2"
                data-action="click->leave#go"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ffffff" viewBox="0 0 256 256"><path d="M192,116a12,12,0,1,1-12-12A12,12,0,0,1,192,116ZM152,64H112a8,8,0,0,0,0,16h40a8,8,0,0,0,0-16Zm96,48v32a24,24,0,0,1-24,24h-2.36l-16.21,45.38A16,16,0,0,1,190.36,224H177.64a16,16,0,0,1-15.07-10.62L160.65,208h-57.3l-1.92,5.38A16,16,0,0,1,86.36,224H73.64a16,16,0,0,1-15.07-10.62L46,178.22a87.69,87.69,0,0,1-21.44-48.38A16,16,0,0,0,16,144a8,8,0,0,1-16,0,32,32,0,0,1,24.28-31A88.12,88.12,0,0,1,112,32H216a8,8,0,0,1,0,16H194.61a87.93,87.93,0,0,1,30.17,37c.43,1,.85,2,1.25,3A24,24,0,0,1,248,112Zm-16,0a8,8,0,0,0-8-8h-3.66a8,8,0,0,1-7.64-5.6A71.9,71.9,0,0,0,144,48H112A72,72,0,0,0,58.91,168.64a8,8,0,0,1,1.64,2.71L73.64,208H86.36l3.82-10.69A8,8,0,0,1,97.71,192h68.58a8,8,0,0,1,7.53,5.31L177.64,208h12.72l18.11-50.69A8,8,0,0,1,216,152h8a8,8,0,0,0,8-8Z"></path></svg>
            </a>

            <a
                href="{{ path('purchase_list') }}"
                class="h-[42px] w-[42px] p-none text-lg button bg-black text-white flex items-center justify-center gap-2"
                data-action="click->leave#go"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="#FFFFFF" viewBox="0 0 256 256" class="scale-75 p-0"><path d="M80,120h96a8,8,0,0,0,8-8V64a8,8,0,0,0-8-8H80a8,8,0,0,0-8,8v48A8,8,0,0,0,80,120Zm8-48h80v32H88ZM200,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V40A16,16,0,0,0,200,24Zm0,192H56V40H200ZM100,148a12,12,0,1,1-12-12A12,12,0,0,1,100,148Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,140,148Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,180,148Zm-80,40a12,12,0,1,1-12-12A12,12,0,0,1,100,188Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,140,188Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,180,188Z"></path></svg>
            </a>

        </div>

        <h1 class="text-2xl font-semibold mb-6 text-gray-800 w-full text-start">Liste des produits</h1>

        <div class="overflow-x-auto w-full flex flex-col gap-4">

            {% for product in products %}

                <div class="flex justify-between w-[98%]">
                    <div
                        class="product-name pe-5 flex items-center text-md font-bold flex-1 rounded-lg relative {{ 'bg-' ~ product.color }}"
                    >
                        <span class="product-picto svg-white">
                            {{ product.picto | sanitize_html }}
                        </span>
                        <span class="ms-3 flex-1 text-start items-center h-full flex justify-between pe-2 whitespace-nowrap">
                            {{ product.name }}
                        </span>
                        <div>
                            <a href="{{ path('app_product_edit', {id: product.id}) }}" class=" bg-black text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ffffff" viewBox="0 0 256 256"><path d="M227.32,73.37,182.63,28.69a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H216a8,8,0,0,0,0-16H115.32l112-112A16,16,0,0,0,227.32,73.37ZM136,75.31,152.69,92,68,176.69,51.31,160ZM48,208V179.31L76.69,208Zm48-3.31L79.32,188,164,103.31,180.69,120Zm96-96L147.32,64l24-24L216,84.69Z"></path></svg>
                            </a>
                        </div>

                    </div>


                </div>

            {% endfor %}
        </div>

        <div class="mt-6 w-full justify-start">
            <a href="{{ path('app_product_new') }}"
               class="inline-block bg-black text-white font-bold px-4 py-2 rounded hover:bg-cyan-500 transition">
                Ajouter un produit
            </a>
        </div>
    </div>
{% endblock %}


