

<div class="bg-blue-300 flex justify-between items-center rounded-lg text-xl mb-4 mt-4">

    <span class=" p-3 font-bold">
        Total du jour
    </span>

    <span class="font-bold bg-black p-3 text-white rounded-e-lg w-[100px] text-center">
        {{ day_total }} €
    </span>

</div>

<div class="bg-blue-300 flex justify-between items-center rounded-lg text-xl mb-4">

    <span class=" p-3 font-bold">
        Retour consignes
    </span>

    <span class="font-bold bg-black p-3 text-white rounded-e-lg w-[100px] text-center">
        - {{ returns }} €
    </span>

</div>

<div class="bg-cyan-800 flex justify-between items-center rounded-lg text-xl mb-4">

    <span class=" p-3 font-bold text-white">
        Total
    </span>

    <span class="font-bold bg-black p-3 text-white rounded-e-lg w-[100px] text-center">
        {{ day_total - returns }} €
    </span>

</div>


<div class="payment-modes mt-4">

    <table>

        <tr class="bg-cyan-500">

            <td colspan="3" class="ps-2 font-bold text-white">
                Moyens de paiment
            </td>

        </tr>

        {% for detail in payment_modes %}

            <tr>

                <td class="font-bold ps-2" colspan="2">
                    {{ detail.mode | capitalize }}
                </td>

                <td class="w-[100px] text-end">
                    {% set total = detail.total %}
                    {% if detail.mode == 'espèces' %}
                        {% set total = total - returns %}
                    {% endif %}
                    {{ total }} €
                </td>

            </tr>

        {% endfor %}
        {% set total = 0 %}

        {% if products_quantities | length > 0 %}

                <tr class="bg-cyan-500 rounded-md">

                    <td colspan="" class="ps-2 font-bold text-white">
                        Quantités vendues
                    </td>

                    <td class="text-center font-bold">
                        Qté.
                    </td>

                    <td class="text-end font-bold">
                        Total
                    </td>

                </tr>

            {% for detail in products_quantities %}

                <tr>

                    <td class="font-bold ps-2" colspan="">
                        {{ detail.name }}
                    </td>

                    <td class="w-[100px] text-center">
                        {{ detail.quantity }}
                    </td>

                    <td class="text-end">
                        {% set subtotal = detail.quantity * detail.unitPrice %}
                        {% set total = total + subtotal %}
                        {{ subtotal }} €
                    </td>

                </tr>

            {% endfor %}

            <tr>

                <td colspan="2"></td>

                <td class="text-end font-bold">
                    {{ total }} €
                </td>

            </tr>

        {% endif %}

        {% if accounts | length > 0 %}

            <tr class="bg-gray-200">

                <th colspan="3" class="text-start ps-2">
                    Détail des comptes
                </th>

            </tr>

            {% for account in accounts %}

                <tr data-controller="account" data-account="{{ account.name }}">

                    <td class="ps-2 text-xl">
                        {{ account.name }}
                    </td>

                    <td class="text-end font-bold pe-2">
                                <span
                                    class="text-black text-xl"
                                >
                                    {{ account.total }} €
                                </span>
                    </td>

                    <td class="text-end flex flex-nowrap gap-2">

                        <button
                            class="button bg-black text-white"
                            data-action="click->account#checkout"
                            data-payment-mode="espèces"
                            data-tippy-content="Espèces"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ffffff" viewBox="0 0 256 256"><path d="M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z"></path></svg>
                        </button>

                        <button
                            class="button bg-black text-white"
                            data-action="click->account#checkout"
                            data-payment-mode="chèque"
                            data-tippy-content="Chèque"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ffffff" viewBox="0 0 256 256"><path d="M232,168H63.86c2.66-5.24,5.33-10.63,8-16.11,15,1.65,32.58-8.78,52.66-31.14,5,13.46,14.45,30.93,30.58,31.25,9.06.18,18.11-5.2,27.42-16.37C189.31,143.75,203.3,152,232,152a8,8,0,0,0,0-16c-30.43,0-39.43-10.45-40-16.11a7.67,7.67,0,0,0-5.46-7.75,8.14,8.14,0,0,0-9.25,3.49c-12.07,18.54-19.38,20.43-21.92,20.37-8.26-.16-16.66-19.52-19.54-33.42a8,8,0,0,0-14.09-3.37C101.54,124.55,88,133.08,79.57,135.29,88.06,116.42,94.4,99.85,98.46,85.9c6.82-23.44,7.32-39.83,1.51-50.1-3-5.38-9.34-11.8-22.06-11.8C61.85,24,49.18,39.18,43.14,65.65c-3.59,15.71-4.18,33.21-1.62,48s7.87,25.55,15.59,31.94c-3.73,7.72-7.53,15.26-11.23,22.41H24a8,8,0,0,0,0,16H37.41c-11.32,21-20.12,35.64-20.26,35.88a8,8,0,1,0,13.71,8.24c.15-.26,11.27-18.79,24.7-44.12H232a8,8,0,0,0,0-16ZM58.74,69.21C62.72,51.74,70.43,40,77.91,40c5.33,0,7.1,1.86,8.13,3.67,3,5.33,6.52,24.19-21.66,86.39C56.12,118.78,53.31,93,58.74,69.21Z"></path></svg>
                        </button>

                        <button
                            class="button bg-black text-white"
                            data-action="click->account#checkout"
                            data-payment-mode="CB"
                            data-tippy-content="Carte bancaire"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ffffff" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
                        </button>

                    </td>

                </tr>

            {% endfor %}

        {% endif %}

    </table>

</div>
