{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block body %}

<div class="main-block bg-white gap-5 p-2" >

    <div class="w-full">

        <div class="flex justify-start items-center gap-2">

            <a href="{{ path('app_home') }}" class="h-[42px] w-[42px] p-none text-lg button bg-rose-700 text-white flex items-center justify-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFFFFF" viewBox="0 0 256 256"><path d="M240,208H224V136l2.34,2.34A8,8,0,0,0,237.66,127L139.31,28.68a16,16,0,0,0-22.62,0L18.34,127a8,8,0,0,0,11.32,11.31L32,136v72H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM48,120l80-80,80,80v88H160V152a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8v56H48Zm96,88H112V160h32Z"></path></svg>
            </a>

            <a href="{{ path('app_cashbox') }}" class="h-[42px] w-[42px] p-none text-lg button bg-black text-white flex items-center justify-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ffffff" viewBox="0 0 256 256"><path d="M192,116a12,12,0,1,1-12-12A12,12,0,0,1,192,116ZM152,64H112a8,8,0,0,0,0,16h40a8,8,0,0,0,0-16Zm96,48v32a24,24,0,0,1-24,24h-2.36l-16.21,45.38A16,16,0,0,1,190.36,224H177.64a16,16,0,0,1-15.07-10.62L160.65,208h-57.3l-1.92,5.38A16,16,0,0,1,86.36,224H73.64a16,16,0,0,1-15.07-10.62L46,178.22a87.69,87.69,0,0,1-21.44-48.38A16,16,0,0,0,16,144a8,8,0,0,1-16,0,32,32,0,0,1,24.28-31A88.12,88.12,0,0,1,112,32H216a8,8,0,0,1,0,16H194.61a87.93,87.93,0,0,1,30.17,37c.43,1,.85,2,1.25,3A24,24,0,0,1,248,112Zm-16,0a8,8,0,0,0-8-8h-3.66a8,8,0,0,1-7.64-5.6A71.9,71.9,0,0,0,144,48H112A72,72,0,0,0,58.91,168.64a8,8,0,0,1,1.64,2.71L73.64,208H86.36l3.82-10.69A8,8,0,0,1,97.71,192h68.58a8,8,0,0,1,7.53,5.31L177.64,208h12.72l18.11-50.69A8,8,0,0,1,216,152h8a8,8,0,0,0,8-8Z"></path></svg>
            </a>

        </div>

    </div>

    <div class="flex items-center justify-between w-full">

        <span class="text-black font-bold text-xl w-max whitespace-nowrap">
            Caisse du {{ date | date('d/m/Y') }}
        </span>

        <div class="w-full flex justify-end" data-controller="detail">

            <a
                href=""
                class="button bg-cyan-800 text-white flex items-center w-max gap-2"
                data-action="click->detail#show"
            >
                Détail
            </a>

            <div
                class="cashbox-detail flex flex-col items-center justify-start"
                id="cashbox-detail"
                data-detail-target="list"
            >

                <div class="flex justify-end w-full p-3">
                    <a
                        href=""
                        data-action="click->detail#hide"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            fill="#000000"
                            viewBox="0 0 256 256"
                        >
                            <path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
                        </svg>
                    </a>
                </div>

                <div class="w-[90%] pb-[80px]">

                    <table class="">

                        <thead class="sticky rounded-t-lg">

                            <tr>

                                <th class="text-start ">
                                    Heure
                                </th>

                                <th class="text-start">
                                    Mode
                                </th>
                                <th class="text-center">
                                    Csg.
                                </th>

                                <th class="text-end  pe-2">
                                    Montant
                                </th>
                                <th></th>

                            </tr>

                        </thead>

                        <tbody>

                        {% for purchase in list %}

                            <tr
                                class="purchase-line {{  purchase.account ? 'bg-gray-200' }}"
                                data-purchase-id="{{ purchase.id }}"
                                data-account="{{ purchase.account }}"
                            >
                                <td>
                                    {{ purchase.createdAt | date('H:i') }}
                                </td>

                                <td class="text-start payment-mode">
                                    {% if purchase.paymentMode %}
                                        {{ purchase.paymentMode | capitalize }}.
                                    {% elseif purchase.account %}
                                        {{ purchase.account | capitalize }}

                                    {% endif %}
                                </td>

                                <td class="text-center">
                                    {{ purchase.consigne }}
                                </td>
                                <td class="text-end pe-2">
                                    {{ purchase.total }} €
                                </td>

                                <td>

                                    <a
                                        href="#"
                                        data-action="click->detail#remove"
                                        data-purchase-id="{{ purchase.id }}"
                                        class="text-red-800"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF0000" viewBox="0 0 256 256"><path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"></path></svg>
                                    </a>

                                </td>

                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

            <div
                data-detail-target="undo"
                class="hidden undo-remove bg-gray-200 text-white w-full px-12 py-5 items-center justify-between border-t border-black"
            >
                <p class="text-black text-lg">
                    Il vous reste <span class="time" data-detail-target="undotimer">5</span>s pour
                </p>

                <a href="#" class="button bg-black rounded-0" data-action="click->detail#undoRemove">
                    ANNULER
                </a>

            </div>

        </div>

    </div>

    <div class="w-full" id="cashbox-resume">

        {% include 'purchase/_resume.html.twig' %}

    </div>

</div>

{% endblock %}
